<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

	<appender name="CONSOLE_APPENDER" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%-15.15t] %C:%L - %m%n" />
		</layout>
	</appender>

	<logger name="com.indexdata.livedocs">
		<level value="DEBUG" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<logger name="com.zaxxer.hikari">
		<level value="ERROR" />
	</logger>

	<logger name="org.hibernate">
		<level value="INFO" />
	</logger>

	<logger name="net.sf.ehcache">
		<level value="INFO" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE_APPENDER" />
	</root>

</log4j:configuration>